<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n">
            </PatternLayout>
        </Console>

        <File name="FileLog" fileName="debug.log" append="false">
            <PatternLayout
                pattern="%date{HH:mm:ss:SSS} [%-5level{lowerCase=true}] %file:%line %t: %m%n">
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
    
        <Logger name="QueryParser" level="OFF">
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="FileLog" level="ALL"/>
        </Logger>

        <Logger name="InvertedIndex" level="OFF">
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="FileLog" level="ALL"/>          
        </Logger>
        
        <Logger name="InvertedIndex" level="OFF">
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="FileLog" level="ALL"/>          
        </Logger>
        
        <Logger name="WorkQueue" level="OFF">
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="FileLog" level="ALL"/>          
        </Logger>
        
        <Logger name="ThreadSafeInvertedIndexBuilder" level="OFF">
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="FileLog" level="ALL"/>          
        </Logger>
        
        <Logger name="Driver" level="OFF">
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="FileLog" level="ALL"/>          
        </Logger>
        
        <Logger name="LinkTraverser" level="ALL">
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="FileLog" level="ALL"/>          
        </Logger>
        
        <Logger name="HTMLLinkParser" level="OFF">
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="FileLog" level="ALL"/>          
        </Logger>
        

        <Root level="OFF">
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="FileLog" level="ALL"  />
        </Root>
    </Loggers>
</Configuration>